* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #2b2b2b;
}

section .circle {
  position: absolute;
  -webkit-filter: blur(120px);
          filter: blur(120px);
  -webkit-animation-name: circle-animate;
          animation-name: circle-animate;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

section .circle:nth-child(1) {
  width: 450px;
  height: 450px;
  background-color: #ff0000;
  top: -100px;
  left: 300px;
}

section .circle:nth-child(2) {
  width: 500px;
  height: 500px;
  background-color: #0040ff;
  border-radius: 50%;
  top: 100px;
  right: 300px;
}

section .circle:nth-child(3) {
  width: 300px;
  height: 300px;
  background-color: #40ff00;
  border-radius: 50%;
  top: -200px;
  right: 500px;
}

section .circle:nth-child(4) {
  width: 350px;
  height: 350px;
  background-color: #fbff00;
  border-radius: 50%;
  top: 400px;
  right: -500px;
}

@-webkit-keyframes circle-animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes circle-animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

section .container .form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px;
}

section .container .form h2 {
  position: relative;
  color: #0e0e0e;
  font-size: 1.2em;
  margin-bottom: 30px;
}

section .container .form .inputBox {
  width: 100%;
  margin-top: 20px;
}

section .container .form .inputBox input {
  width: 100%;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 10px;
  color: #f5f5f5;
  background-color: rgba(255, 255, 255, 0.2);
}

section .container .form .inputBox input.submit {
  color: #0e0e0e;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
}

section .container .form p {
  color: #0e0e0e;
  font-weight: 600;
}