*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(43, 43, 43);

    & .circle{
        position: absolute;
        filter: blur(120px);
        animation-name: circle-animate;
        animation-duration: 3.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;

        &:nth-child(1){
            width: 450px;
            height: 450px;
            background-color: #ff0000;
            top: -100px;
            left: 300px;
        }
        &:nth-child(2){
            width: 500px;
            height: 500px;
            background-color: #0040ff;
            border-radius: 50%;
            top: 100px;
            right: 300px;
        }
        &:nth-child(3){
            width: 300px;
            height: 300px;
            background-color: #40ff00;
            border-radius: 50%;
            top: -200px;
            right: 500px;
        }
        &:nth-child(4){
            width: 350px;
            height: 350px;
            background-color: #fbff00;
            border-radius: 50%;
            top: 400px;
            right: -500px;
        }

        @keyframes circle-animate {
            0%{
                transform: scale(1);
            }

            25%{
                transform: scale(1.5);
            }
            50%{
                transform: scale(2.5);
            }
            100%{
                transform: scale(2);
            }
        }
    }

    & .container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        width: 400px;
        height: 400px;
        border-radius:10px;

        & .form{
            position: relative;
            width: 100%;
            height: 100%;
            padding: 60px;

            & h2{
                position: relative;
                color: rgb(14, 14, 14);
                font-size: 1.2em;
                margin-bottom: 30px;
            }

            & .inputBox{
                width: 100%;
                margin-top: 20px;
                & input{
                    width: 100%;
                    font-size: 15px;
                    outline: none;
                    border: none;
                    padding: 10px;
                    color: #f5f5f5;
                    background-color: rgba($color: #ffffff, $alpha: 0.2);

                    &.submit{
                        color: rgb(14, 14, 14);
                        margin-bottom: 20px;
                        padding: 5px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }

            & p{
                color: rgb(14, 14, 14);
                font-weight: 600;
            }
        }

    }
}

